// colors
$color-gray-dark: #666;
$color-gray-light: #edeff1;
$color-gray-lighter: #f4f6f8;
$color-red: #ec2624;

// borders
$border-common: 1px solid $color-gray-light;

// fonts
$font-roboto: 'Roboto', Helvetica, Arial, sans-serif;

// font-sizes
// 32, 24, 18, 16, 14

// breakpoints
$breakpoint-tablet: 768px;
$breakpoint-phone: 480px;