.robot-art {
    .header {
        background-color: #fff;
        border-bottom: $border-common;
        @media (min-width: $breakpoint-tablet-sm + 1) {
            padding: 40px;
        }
        @media (max-width: $breakpoint-tablet-sm) {
            padding: 20px;
        }
        .logo {
            @media (min-width: $breakpoint-tablet-sm + 1) {
                float: left;
                margin-right: 100px;
                width: 154px;
            }
            @media (max-width: $breakpoint-tablet-sm) {
                width: 140px;
            }
        }
        .navigation {
            @media (min-width: $breakpoint-tablet-sm + 1) {
                height: 64px;
            }
            @media (max-width: $breakpoint-tablet-sm) {
                background-color: #fff;
                height: 100%;
                left: 0;
                opacity: 0;
                position: absolute;
                top: 0;
                transition: all 0.2s;
                visibility: hidden;
                width: 100%;
                z-index: 1;
            }
            &.open {
                @media (max-width: $breakpoint-tablet-sm) {
                    opacity: 1;
                    visibility: visible;
                }
            }
            .menu {
                @media (max-width: $breakpoint-tablet-sm) {
                    display: block;
                    margin-top: -25%;
                    position: relative;
                    text-align: center;
                    top: 50%;
                }
                list-style: none;
                .list-item {
                    @media (min-width: $breakpoint-tablet-sm + 1) {
                        display: inline-block;
                        line-height: 64px;
                        vertical-align: top;
                    }
                    @media (max-width: $breakpoint-tablet-sm) {
                        margin-bottom: 20px;
                    }
                    &.primary {
                        &:not(:first-child) {
                            @media (min-width: $breakpoint-tablet-sm + 1) {
                                margin-left: 50px;
                            }
                        }
                        a {
                            @media (max-width: $breakpoint-tablet-sm) {
                                font-size: 32px;
                            }
                        }
                    }
                    &.secondary {
                        @media (min-width: $breakpoint-tablet-sm + 1) {
                            // float: right;
                            margin-left: 25px;
                        }
                        a {
                            @media (min-width: $breakpoint-tablet-sm + 1) {
                                font-size: 14px;
                            }
                            @media (max-width: $breakpoint-tablet-sm) {
                                font-size: 18px;
                            }
                        }
                    }
                    a {
                        color: $color-gray-dark;
                        text-decoration: none;
                        transition: color 0.2s;
                        &.active,
                        &:hover {
                            color: $color-red;
                        }
                    }
                }
                .secondary-list-item-container {
                    @media (min-width: $breakpoint-tablet-sm + 1) {
                        display: inline-block;
                        float: right;
                    }
                }
            }
        }
        .responsive-menu-button {
            background: none;
            border: none;
            border-radius: 0;
            @media (min-width: $breakpoint-tablet-sm + 1) {
                display: none;
            }
            @media (max-width: $breakpoint-tablet-sm) {
                display: block;
            }
            float: right;
            height: 24px;
            margin-top: 12px;
            overflow: visible;
            position: relative;
            right: 5px;
            top: 5px;
            width: 30px;
            z-index: 2;
            .bar {
                background: $color-gray-dark;
                display: table;
                height: 3px;
                vertical-align: middle;
                width: 28px;
                &:not(:nth-of-type(2)) {
                    margin: 0 auto;
                    transition: all 0.2s;
                }
                &:nth-of-type(2) {
                    margin: 6px auto;
                    transition: opacity 0.2s;
                }
            }
            &.selected .bar {
                &:first-of-type {
                    transform: rotate(45deg);
                }
                &:nth-of-type(2) {
                    margin: -3px 0;
                    opacity: 0;
                }
                &:last-of-type {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}